* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
  /* font-weight: bold; */
}
.header {
  width: 100%;
}

/******** Navigation section ******/

nav {
  height: 80px;
  width: 100%;
  background-color: rgb(250, 87, 87);
}
.header .logo {
  width: 200px;
  padding: 25px 30px;
}
nav ul {
  float: right;
  margin-right: 50px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: white;
  font-size: 20px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: capitalize;
  border: 2px solid rgb(53, 48, 48);
}
.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
nav ul li a:hover {
  font-size: 20px;
  font-weight: bold;
}
#check {
  display: none;
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 50vh;
    background: rgb(250, 87, 87);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 1;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  #check:checked ~ ul {
    left: 0;
  }
}

/********** Home Page ********/

.home {
  height: 90vh;
  background-color: rgb(65, 65, 253);
  padding: 10% 8%;
  font-size: 25px;
  line-height: 35px;
  text-align: justify;
  font-family: sans-serif;
}
@media (max-width: 1200px) {
  .home {
    height: 80vh;
    padding:12% 10%;
    font-size: 20px;
    line-height: 35px;
  }

}
@media (max-width: 768px) {
  .home {
    height: 80vh;
    padding:12% 10%;
    font-size: 16px;
    line-height: 25px;
  }
}
@media (max-width: 576px) {
  .home {
    height: 80vh;
    padding:12% 10%;
    font-size: 14px;
    line-height: 25px;
  }
}


/********* Product Section ********/

.product_section {
  background-color: rgb(10, 147, 10);
  width: 100%;
  height: 100vh;
}
.product_section h1 {
  text-align: center;
  font-size: 40px;
  padding: 2%;
  color: white;
}
.product_section .product {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.product_section .product .product_detail {
  width: 300px;
  height: 280px;
  border: 1px solid black;
  margin: 0.9% 3%;
  padding: 20px;
}
.product_section .product .product_img {
  width: 260px;
  height: 140px;
}
.product_section .product .product_detail p {
  font-size: 18px;
  margin: 5px;
  text-align: center;
  color: white;
  line-height: 25PX;
}

@media (max-width: 1200px) {
  .product_section h1 {
    padding-top:2%;  
    font-size: 30px;
  }
  .product_section .product .product_detail {
    width: 250px;
    height: 240px;
    padding: 20px;
  } 
  .product_section .product .product_img {
    width: 200px;
    height: 90px;
  }
  .product_section {
    height: 110vh;
  }
  .product_section .product .product_detail p {
    font-size: 14px;
    line-height: 20px;
  }
  .product_detail iframe{
    width: 200px;
    height: 120px;
  }
}

@media (max-width: 992px) {
  .product_section {
    height: 140vh;
  }

}
@media (max-width: 768px) {
  .product_section {
    height: 130vh;
  }

} 

@media (max-width: 570px) {
  .product_section h1 {
    padding: 3% 0.2%;  
    font-size: 30px;
  }
  .product_section .product .product_detail {
    width: 250px;
    height: 240px;
    padding: 20px;
  }
  .product_section .product .product_img {
    width: 200px;
    height: 90px;
  }
  .product_section {
    height: 260vh;
  }
  .product_section .product .product_detail {
    margin-top: 25px;
  }
  .product_section .product .product_detail p {
    font-size: 14px;
    line-height: px;
  }
  .product_detail iframe{
    width: 200px;
    height: 120px;
  }

} 

/******* Service Section *****/

.service_section {
  width: 100%;
  height: 80vh;
  background-color: rgb(187, 177, 177);
  padding: 4% 0.4%;
}
.service_section .service {
  display: flex;
  margin: 0% 4%;
}
.service_section .service .service-section1 h2 {
  font-size: 30px;
  text-align: center;
}
.service_section .service .service-section1 .service-block {
  display: flex;
  text-align: justify;
  margin: 20px;
  /* border: 2px solid black; */
}
.service_section .service .service-section1 .service-block .block {
  border: 2px solid black;
  padding: 25px;
  margin: 10px;
}
.service_section .service .service-section1 .service-block .block h3 {
  text-align: center;
  padding: 10px;
  color: white;
  font-size: 30px;
  border: 2px solid rgb(2, 2, 2);
  border-radius: 100px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.service_section .service .service-section1 .service-block .block p {
  margin: 10px;
  font-size: 18px;
  line-height: 25px;
}
  @media (max-width: 1200px) {
  .service_section .service {
    display: flex;
    flex-wrap: wrap;
  }
  .service_section {
    height: 95vh;
    padding: 6% 3%;
  }
  .service_section .service .service-section1 h2 {
    font-size: 20px;
  }
  .service_section .service .service-section1 .service-block .block {
    padding: 10px;
  }
  .service_section .service .service-section1 .service-block .block h3 { 
    padding: 10px;
    font-size: 18px;  
  }
  .service_section .service .service-section1 .service-block .block p {
    margin: 10px;
    font-size: 14px;
    line-height: 18px;
  }
} 

@media (max-width: 576px) {
  .service_section {
    height: 150vh;
    padding: 6% 0%;
  }
  .service_section .service {
    margin: 0% 0%;
  }
  .service_section .service .service-section1 .service-block {
    display: flex;
    flex-wrap: wrap;
  }
  .service_section .service .service-section1 h2 {
    font-size: 20px;
  }
  .service_section .service .service-section1 .service-block {
    margin: 10px;
    /* border: 2px solid black; */
  }
  .service_section .service .service-section1 .service-block .block {
    padding: 10px;
  }
  .service_section .service .service-section1 .service-block .block h3 { 
  padding: 5px;
    font-size: 18px;  
  }
  .service_section .service .service-section1 .service-block .block p {
    margin: 10px;
    font-size: 14px;
    line-height: 18px;
  }
  
}

/***** footer Section *****/

.footer_section {
  width: 100%;
  height: 30vh;
  padding: 1%;
  background-color: rgb(37, 34, 34);
  color:white;
}
.footer_section .footer {
  display: flex;
  justify-content: space-around;
}
.footer_section .footer .footer-sec p {
  font-size: 20px;
  padding: 10px;
}
.footer_section .footer .footer-sec p a {
  color: white;
  cursor: pointer;
}
.footer_section .footer .footer-sec p img {
  width: 100px;
}

@media (max-width: 768px) {
  .footer_section {
    height: 40vh;
    padding: 5%;
  }
.footer_section .footer .footer-sec p {
  font-size: 14px;
}
  .footer_section .footer {
    display: flex;
    flex-direction: column;
  }
}


/* Media Queries for larger screen size >1200 */

/*@media (min-width: 1200px) { 
    .home {
        height: 80vh;
        padding: 15% 12%;
        font-size: 30px;
        line-height: 50px;
      }
 } 
 @media (min-width: 1200px) { 
    .product_section {
        height: 70vh;
      }
} 

 @media (min-width: 1200px) {
    .service_section {
        height: 50vh;
      } 
} 

@media (min-width: 1200px) {
    .footer_section {
        height: 20vh;
      }
}  */